<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="post-list">
  <h3>Current Posts:</h3>

  {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        {{! need to edit a link below so when click own post takes you to edit/delete }}
        <h4><a href="/update/{{post.id}}">{{post.title}}</a></h4>
        <p>{{post.content}}</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
  {{/each}}
</div>

<div class="row mt-4">

  <form class="form new-post-btn">
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add a new post</button>
    </div>
  </form>

</div>

<script src="./js/dashboard.js"></script>