{{!-- {{#each posts as |post|}}
  <section class="row mb-4 flex-column border-secondary border-custom">

    <div class="p-2 bg-secondary">
      <h2 class="d-inline">
        <a class="text-dark" href="/post/{{post.id}}">{{post.title}}</a>
      </h2>
      <p class="d-inline float-right">Posted by <strong>{{post.user.username}}</strong> on {{format_date post.createdAt}}</p>
    </div>
    <div class="p-2">
      <p>
        {{post.content}}
      </p>
    </div>

  </section>
{{/each}} --}}

{{#each users as |user|}}
  <p>{{user.email}}</p>
  <p>{{user.password}}</p>
{{/each}}