<section class="row mb-4 flex-column border border-secondary">

  <div class="p-2 bg-secondary">
    <h2 class="d-inline">
      {{title}}
    </h2>
    <p class="d-inline float-right">Created by <strong>{{user.username}}</strong> on {{format_date createdAt}}</p>
  </div>
  <div class="p-2 bkg">
    <p>
      {{content}}
    </p>
  </div>
</section>

<section class="row mb-4 flex-column border border-secondary">

  <div>
    <div class="p-2 bg-secondary w-100">
      <h3>Comments:</h3>
    </div>
    {{#each comments as |comment|}}
      <div class="px-4 mt-2 bkg">
        <p>
          -
          {{comment.content}}
          <br />
          <em>Posted by
            {{user.username}}
            on
            {{format_date comment.createdAt}}
          </em>
        </p>
        <p></p>
      </div>
    {{/each}}
  </div>

  <div class="mt-4 p-2 form-bkg">
    <form id="comment-form">
      <div class="p-2">
        <label for="comments" class="font-weight-bold">Leave a comment:</label>
        <textarea class="w-100" name="comments" id="comments" rows="5"></textarea>
      </div>
      <div class="p-2">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</section>

<script src="/js/comment.js"></script>